<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Sales" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Sales;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="directoryPath" value = "../../CSV"/>
		<add key="parsedDirectory" value = "../../CSV/Parsed"/>
		<add key="notParsedDirectory" value = "../../CSV/NotParsed"/>
		<add key="logDir" value="../../Logs"/>
		<add key="filePattern" value="*_*.csv"/>
	</appSettings>
</configuration>